.button {
  background-color: black;
 
}
.signUpContainer {
  height: 400;
  width: 700px;
  border-radius: 6px;
}
.signUpImage {
  width: 50%;
  height: auto;
  border-radius: inherit;
}
.signUpField {
  background-color: transparent;
  border: 1px solid black;
}
.signUpField:focus {
  box-shadow: none;
}

.inputSearch {
  color: text-grey-400;
}
.inputSearch:enabled:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent !important;
}
.inputSearch::placeholder {
  color: text-grey-200;
}

.singUpSection {
 
  animation-name: singUpAnimation;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes singUpAnimation {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0px);
  }
}
.p-dialog .p-dialog-header {
  padding: 6px;
  box-shadow: none;
}

