.signUpContainer {
  height: 400;
  width: 700px;
  border-radius: 6px;
}
.signUpImage {
  width: 50%;
  height: auto;
  border-radius: inherit;
}
.signUpField {
  background-color: transparent;
  border: 1px solid black;
}
.signUpField:focus {
  box-shadow: none;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg);
  }
}
.movieimage {
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-duration: 2s;
}
.inputSearch {
  color: text-grey-400;
}
.inputSearch:enabled:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent !important;
}
.inputSearch::placeholder {
  color: text-grey-200;
}

.singUpSection {
  width: 50vw;
  animation-name: singUpAnimation;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes singUpAnimation {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0px);
  }
}
.p-dialog .p-dialog-header {
  padding: 2px;
}
@media (min-width: 375px) {
  .signUpContainer {
    flex-direction: column;
  }
  .signUpContainer img,
  .signUpContainer > div {
    width: 100%;
  }
  .signUpTextHeading {
    font-size: 14px;
  }
  .signUpTextParagraph {
    font-size: 10px;
  }
}
