* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lora", serif;
  font-family: "Nuosu SIL", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
}
.button {
  background-color: grey;
}
.button:hover {
  text-decoration: underline;
  background-color: rgba(128, 128, 128, 0.353);
}

.p-card .p-card-body {
  padding: 0;
}

.mySwiper {
  height: 400px;
}

@media (min-width: 425px) {
  .sidebarText {
    font-size: 10px;
    border-radius: 10px !important;
  }

  .castDetail {
    flex-wrap: wrap;
  }
  .castDetialData {
    width: 100%;
  }
  .detialDiv {
    height: 350px !important;
  }
}
@media (min-width: 375px) {
  .sidebarCard {
    display: none;
  }

  .sidebarText {
    font-size: 8px;
    border-radius: 10px !important;
  }
  .commonSlider {
    width: 50%;
  }
  .rightSide {
    display:none;
  }
  .castDetail {
    flex-wrap: wrap;
  }
  .castDetialData {
    width: 100%;
    height: 250px;
  }
  .detialDiv {
    height: 350px !important;
  }
}
